body::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	position: relative;
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 8px;
	.lock & {
		visibility: visible;
	}

	&--sm {
		max-width: 445px;
	}
}
.popup__close {
	position: absolute;
	right: 20px;
	top: 0px;
	font-size: 40px;
	line-height: 1;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}

.filter-reset-popup {
	.btn {
		width: 233px;
		margin-bottom: 20px;
		&:focus {
			outline: none;
		}
	}
	.popup__text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.confirm-filter-reset {
		margin-bottom: 40px;
	}
	.popup__content {
		padding: 40px;
	}
}

.order__popup {
	text-align: center;

	.popup__content {
		padding: 40px;
	}
}

.size-choose__popup {
	.popup__content {
		width: 100%;
		max-width: 560px;
		background-color: #fff;
	}
	.popup__title {
		color: $accent;
		font-weight: 600;
		font-size: 23px;
		line-height: 28px;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 10px;
	}
}
.size-choose__form {
	padding: 30px;
}

.order-confirm {
	.popup__content {
		padding: 30px;
	}
	.popup__title {
		margin-bottom: 20px;
		text-align: center;
	}
	.btn {
		&:focus {
			outline: none;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.hero-popup {
	.popup {
		&__wrapper {
		}
		&__content {
			position: relative;
			padding: 0;
		}
		&__close {
			z-index: 2;
		}
		&__text {
		}
	}

	&__slider {
	}
	&__wrapper {
	}
	&__slide {
	}
	&__nav {
		// display: flex;
		// justify-content: space-between;
		// position: absolute;
		// width: 100%;
	}

	.swiper {
	}
	.swiper-wrapper {
	}
	.swiper-slide {
	}
	.hero-popup-prev,
	.hero-popup-next {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		background-color: $main;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
	}
	.hero-popup-prev {
		top: 50%;
		left: -60px;
		transform: translateY(-50%);
		@media (max-width: 1024px) {
			left: 10px;
			z-index: 2;
		}
	}
	.hero-popup-next {
		top: 50%;
		right: -60px;
		transform: translateY(-50%);
		@media (max-width: 1024px) {
			right: 10px;
			z-index: 2;
		}
	}
	.swiper-pagination {
		position: absolute;
		bottom: -30px;
		left: 50%;
		transform: translateX(-50%);
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: $main;
	}
}

.color-choose {
	.popup {
		&__wrapper {
		}
		&__content {
			background-color: $white;
		}
		&__close {
		}
		&__text {
		}
	}
	&__popup {
	}
	&__title {
		text-align: center;
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: 10px;
	}
	&__desc {
		text-align: center;
		margin-bottom: 20px;
	}
	&__inner {
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 5px;
		max-height: 506px;
		overflow-y: auto;
		scrollbar-color: $text-gray;
		scrollbar-width: thin;

		@media (max-width: 650px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 500px) {
			grid-template-columns: repeat(2, 1fr);
		}

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $text-gray;
			border: 3px solid $text-gray;
			border-radius: 20px;
		}

		label {
			border-radius: 8px;
			cursor: pointer;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			border: 5px solid transparent;
			border-radius: 12px;
			object-fit: contain;
		}
		input {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;

			&:checked + img {
				border: 5px solid $main;
			}
		}
	}
	&__btn {
		display: flex;
		justify-content: flex-end;
		.btn {
			width: 160px;
		}
	}
}
