body::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	position: relative;
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 8px;
	.lock & {
		visibility: visible;
	}

	&--sm {
		max-width: 445px;
	}
}
.popup__close {
	position: absolute;
	right: 20px;
	top: 0px;
	font-size: 40px;
	line-height: 1;
	background-color: transparent;
}

.filter-reset-popup {
	.btn {
		width: 233px;
		margin-bottom: 20px;
	}
	.popup__text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.confirm-filter-reset {
		margin-bottom: 40px;
	}
	.popup__content {
		padding: 40px;
	}
}

.order__popup {
	text-align: center;

	.popup__content {
		padding: 40px;
	}
}

.color-choose__popup {
	.popup__content {
		width: 100%;
		max-width: 560px;
		background-color: #fff;
	}
	.popup__title {
		color: $accent;
		font-weight: 600;
		font-size: 23px;
		line-height: 28px;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 10px;
	}
}
.color-choose__form {
	padding: 30px;
}
