@import 'vars';

.catalog__filter {
	width: 25%;
	height: max-content;
	padding: 45px 30px;
	background-color: $white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	.filter-item {

		&__wrap {
			padding-bottom: 20px;

			&:not(:last-child) {
				margin-bottom: 20px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.06);
			}

			&--checkbox, &--range {
				.filter-item__row {
					display: flex;
					justify-content: space-between;
				}
			}
		}

		&__title {
			position: relative;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 20px;
			cursor: pointer;

			&::after {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				content: '';
				display: block;
				width: 15px;
				height: 8px;
				background-image: url('../img/icons/select.svg');
			}
		}

		&__row {
			margin-top: 10px;
		}

		&__quantity {
			color: $quantity-text;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
		}

		&__from, &__to {
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;

			input {
				height: 40px;
				-webkit-border-radius: 25px;
				-moz-border-radius: 25px;
				border-radius: 25px;
				text-align: center;
				border: 1px solid $filter-border;

				&:focus {
					border: 2px solid $main;
					outline: none;
				}
			}
		}
	}
}

.filter__tags {
	display: flex;

	.tags__item {
		position: relative;
		margin-right: 10px;
		padding: 9px 45px 9px 18px;
		background-color: $white;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		cursor: default;

		.tags__remove {
			position: absolute;
			top: 50%;
			right: 15px;
			display: block;
			width: 11px;
			height: 11px;
			background-image: url('../img/icons/remove.svg');
			transform: translateY(-50%);
			cursor: pointer;
			content: '';
		}
	}
}

.filter__controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;

	.filter__shows {
		margin-right: 20px;
		margin-left: auto;
	}
}

.filter__reset {
	font-family: Montserrat, Helvetica, sans-serif;
	height: 48px;
	padding: 13px 15px;
	border: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	margin-left: 50px;
}
