@import 'vars';

.index-slide {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 10px;
	background-color: $white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	box-shadow: none;
	transition: all 0.2s linear;

	&:hover {
		box-shadow: $hover-shadow;
		transform: translateY(-5px);
	}
}

.item__pricing {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.item__price {
	color: $text;
	font-weight: 700;
	font-size: 20px;
}

.item__old-price {
	color: $old-price;
	font-weight: 600;
	font-size: 14px;
	text-decoration: line-through;
}

.article {
	color: $good-article;
	font-size: 12px;
}

.item__image {
	display: block;
	width: 100%;
}

.item__name {
	color: $item-name;
	font-weight: 500;
	font-size: 18px;
}

.item__series {
	margin-bottom: 30px;
	color: $text;
	font-weight: 600;
	font-size: 20px;
}

.item__reviews {
	color: $text-gray;
	font-weight: 400;
}

.item__rating {
	display: flex;
	align-items: center;
}

.stars {
	display: flex;
	margin-right: 10px;
}

.item__star {
	display: block;
	width: 25px;
	height: 25px;

	&::after {
		display: block;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		content: '';
	}

	&--active::after {
		background-image: url(../img/star-active.svg);
	}

	&--unactive::after {
		background-image: url(../img/star-unactive.svg);
	}
}
