$main: #fecb4d;
$form-policy: #ffb600;
$main-active: #ffb340;
$secondary: #ffeb6d;
$accent: #ff7a00;
$gray-bg: #f7f7f7;
$text: #000000;
$text-gray: #8a8a8a;
$old-price: #c4c4c4;
$good-article: #696969;
$item-name: #595959;
$header-cart: #200e32;
$pagination-bullet: #dadada;
$footer-bg: #313131;
$hero-price: rgba(0, 0, 0, 0.51);
$breadcrumbs-item: rgba(0, 0, 0, 0.8);
$breadcrumbs-last-item: rgba(0, 0, 0, 0.5);

$orange-gradient: linear-gradient(180deg, #ffe483 0%, #fecb4d 100%);
$hover-gradient: linear-gradient(180deg, #ffe896 0%, #fecb4d 100%);
$hover-shadow: 1px 3px 11px rgba(70, 70, 70, 0.14);

$background: #f6f6f6;
$white: #ffffff;

$container: 1745px;
