@import 'vars';
@import "../base/mixins";

.about {
	// .about__main
	&__main {
		padding-top: 45px;
		padding-bottom: 50px;
		background-color: $gray-bg;
	}

	// .about__inner
	&__inner {
		display: flex;

		@media (max-width: 991px) {
			flex-direction: column;
		}
	}

	// .about__text
	&__text {
		width: 50%;
		padding: 47px 20px 140px 140px;
		@media (max-width: 1750px) {
			padding: 0;
		}
		@media (max-width: 991px) {
			width: 100%;
			margin-bottom: 25px;
		}
	}

	// .about__title
	&__title {
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;

		@media (max-width: 650px) {
			font-size: 28px;
		}
	}

	// .about__desc
	&__desc {
		font-size: 20px;
		line-height: 30px;
		@media (max-width: 1500px) {
			line-height: 24px;
		}

		p {
			margin-top: 10px;
		}
	}

	// .about__img
	&__img {
		width: 50%;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			display: block;
		}

		@media (max-width: 1750px) {
			width: 50%;
		}
		@media (max-width: 991px) {
			width: 100%;
		}
	}

	// .about__advantages
	&__advantages {
		.container {
			display: flex;
			justify-content: space-around;
			padding-top: 60px;
			padding-bottom: 100px;

			@media (max-width: 1450px) {
				flex-direction: column;
				align-items: center;
				padding: 30px 15px;
			}
		}
	}

	// .about__advantages-item
	&__advantages-item {
		font-weight: 500;
		font-size: 40px;
		@include adaptiveValue("font-size", 40, 25, 500, 320, 1);
		line-height: 49px;
		@include adaptiveValue("line-height", 49, 25, 500, 320, 1);
		text-align: center;
		max-width: 450px;

		@media (max-width: 1450px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .about__advantages-accent
	&__advantages-accent {
		color: $main;
	}

	// .about__cta
	&__cta {
		.container {
			display: flex;
			justify-content: space-between;

			@media (max-width: 1500px) {
				flex-direction: column;
			}
		}
	}

	// .about__cta-img
	&__cta-img {
		max-width: 995px;

		@media (max-width: 1500px) {
			max-width: 100%;
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			display: block;
		}
	}

	// .about__cta-inner
	&__cta-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (max-width: 1500px) {
			margin-top: 70px;
			margin-bottom: 70px;

		}
	}

	// .about__cta-text
	&__cta-text {
		max-width: 578px;
		font-weight: 500;
		font-size: 40px;
		@include adaptiveValue("font-size", 40, 24, 768, 320, 1);
		line-height: 49px;
		@include adaptiveValue("line-height", 40, 24, 768, 320, 1);
		text-align: center;
		margin-bottom: 40px;
	}
}
