@import 'vars';

.breadcrumbs {
	padding: 15px 0;

	.breadcrumbs__item {
		position: relative;
		padding-right: 20px;
		color: $breadcrumbs-item;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:not(:first-child) {
			padding-left: 20px;
		}

		&:last-child {
			color: $breadcrumbs-last-item;
			pointer-events: none;
		}

		&:not(:last-child)::after {
			position: absolute;
			top: 50%;
			right: 0;
			display: block;
			transform: translate(10px, -50%);
			content: '>';
		}
	}
}

.top-row {
	display: flex;
	justify-content: flex-start;
	.breadcrumbs {
		width: 435px;
	}
}