@import 'vars';

.catalog {
	// .catalog__filter
	&__filter {
		height: max-content;
		padding: 45px 30px;
		background-color: $white;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;

		@media (max-width: 860px) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow-y: auto;
			transform: translateX(-100%);
			transition: all 0.2s linear;

			&.is-open {
				transform: translateX(0);
				z-index: 2;
			}
		}
	}
}

.filter-item {
	// .filter-item__wrap
	&__wrap {
		// padding-bottom: 20px;
		transition: height 0.4s linear;
		overflow: hidden;
		// .filter-item__wrap--range
		&--range {
		}

		// .filter-item__wrap--select
		&--select {
		}

		// .filter-item__wrap--checkbox
		&--checkbox {
		}

		&.is-open {
			height: auto;
			//max-height: 500px;
			overflow: visible;
		}

		&:not(:last-child) {
			// margin-bottom: 20px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.06);
		}

		&--checkbox,
		&--range {
			.filter-item__row {
				display: flex;
				justify-content: space-between;
			}
		}

		&.is-open .filter-item__title::after {
			transform: translateY(-50%);
		}
	}

	// .filter-item__title
	&__title {
		position: relative;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		//margin-bottom: 20px;
		// padding-right: 15px;
		padding: 20px 15px 20px 0;
		cursor: pointer;

		&::after {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%) rotate(180deg);
			content: '';
			display: block;
			width: 15px;
			height: 8px;
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.1636 8.69531L7.67389 1.59094L0.850762 8.69531' stroke='black' stroke-width='0.84375'/%3E%3C/svg%3E%0A");
			transition: all 0.2s linear;
		}
		@media (max-width: 1000px) {
			font-size: 16px;
		}
	}

	// .filter-item__inner
	&__inner {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	// .filter-item__row
	&__row {
		margin-bottom: 10px;
	}

	// .filter-item__from
	&__from {
	}

	// .filter-item__to
	&__to {
	}

	&__from,
	&__to {
		width: 48%;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;

		label {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		input {
			width: 80%;
			height: 40px;
			font-family: 'Montserrat', Helvetica, sans-serif;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
			text-align: center;
			border: 1px solid $filter-border;
			color: rgba($text, 0.5);

			&:focus {
				border: 2px solid $main;
				outline: none;
				color: $text;
			}
		}
	}

	// .filter-item__quantity
	&__quantity {
		color: $quantity-text;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}
}

.filter {
	&__sort {
		display: flex;
		align-items: center;
	}

	&__total {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;

		color: rgba(0, 0, 0, 0.5);
	}

	&__close {
		display: none;

		@media (max-width: 860px) {
			display: block;
			position: absolute;
			top: 30px;
			right: 30px;
			width: 20px;
			height: 20px;
			background-image: url('../../img/close.svg');
			background-position: center;
			background-size: contain;
			cursor: pointer;
			z-index: 3;
		}
	}
}

.filter-colors {
	position: relative;
	padding-bottom: 30px;
	// .filter-colors__content
	&__content {
	}

	// .filter-colors__more
	&__more {
		color: $accent;
		background-color: transparent;
		border: none;
		margin-left: auto;
		padding: 0;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.filter-color {
	margin-right: 12px;
}

.catalog__filter .filter-item__wrap.is-open .filter-item__inner {
	display: block;
	opacity: 1;
	visibility: visible;
}
