@import 'vars';

.catalog {
	background-color: $background;
	padding-top: 50px;

	.breadcrumbs {
		width: 25%;
	}

	.section__title {
		margin-left: 20px;
	}
}

.catalog__wrap {
	display: grid;
	grid-template-columns: 25% 1fr;
	gap: 30px;
}

.catalog__filter {
	//width: 25%;
	background-color: $white;
}

.catalog__inner {
	margin-bottom: 100px;
	//padding-left: 20px;
}


.catalog__list {
	//display: grid;
	//grid-template-columns: repeat(3, 1fr);
	//gap: 20px;
	//margin-top: 17px;

	display: grid;
	gap: rem(30);
	grid-template-columns: repeat(auto-fit, minmax(rem(315), 1fr));
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 60, 30);
	}
}
