@import 'vars';

.catalog {
	background-color: $background;
	padding-top: 50px;

	.breadcrumbs {
		width: 25%;
	}

	.section__title {
		margin-left: 20px;
	}

	// .catalog__wrap
	&__wrap {
		display: grid;
		grid-template-columns: 25% 1fr;
		column-gap: 30px;
		margin-bottom: 100px;
		grid-template-areas:
			"filter tags"
			"filter controls"
			"filter list"
			"filter pagination";

		@media (max-width: 1410px) {
			grid-template-columns: 1fr 2fr;
			grid-template-areas:
				"tags tags"
				"controls controls"
				"filter list"
				"filter pagination";
		}
	}

	//.catalog__filter
	&__filter {
		background-color: $white;
		grid-area: filter;
	}

	// .catalog__inner
	&__inner {
	}

	// .catalog__list
	&__list {
		grid-area: list;
		display: grid;
		gap: rem(30);
		grid-template-columns: repeat(3, 1fr);

		@media (max-width: 1410px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.filter {
	// .filter__tags
	&__tags {
		grid-area: tags;
	}

	// .filter__controls
	&__controls {
		grid-area: controls;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 25px;
		margin-bottom: 17px;
	}

	// .filter__total
	&__total {
	}

	// .filter__value
	&__value {
	}

	// .filter__reset
	&__reset {
		font-family: Montserrat, Helvetica, sans-serif;
		height: 48px;
		padding: 13px 15px;
		border: none;
		white-space: nowrap;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		margin-left: 50px;
		@include adaptiveValue("margin-left", 50, 20, 1000, 900, 1);
		background: rgba(196, 196, 196, 0.22);
	}

	// .filter__shows
	&__shows {
		margin-right: 60px;
		margin-left: auto;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: transparentize($text, 0.5);
		@media (max-width: 1000px) {
			margin-left: 20px;
			margin-right: 20px;
		}

		span {
			cursor: pointer;
			display: inline-block;
			margin-left: 15px;
			&.active {
				color: $text;
			}
			&:hover {
				color: $text;
			}

			@media (max-width: 950px) {
				margin-left: 8px;
			}
		}
	}

	// .filter__sort
	&__sort {
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
	// .tags__item
	&__item {
		position: relative;
		margin-right: 10px;
		padding: 9px 45px 9px 18px;
		background-color: $white;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		cursor: default;
		margin-bottom: 10px;
	}

	// .tags__remove
	&__remove {
		position: absolute;
		top: 50%;
		right: 15px;
		display: block;
		width: 11px;
		height: 11px;
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 0.5L0.5 11.5' stroke='black' stroke-opacity='0.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M0.5 0.5L11.5 11.5' stroke='black' stroke-opacity='0.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		transform: translateY(-50%);
		cursor: pointer;
		content: '';
	}
}

.pagination {
	grid-area: pagination;
}