@import 'vars';

.dropdown-catalog {
	position: fixed;
	z-index: 99;
	display: none;
	align-items: flex-start;
	justify-content: center;
	background-color: rgba(#484848, 0.65);
	inset: 110px 0 0 0;

	&::before {
		content: '';
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 50px;
		background-color: transparent;
		transform: translateY(-100%);
	}

	&.active {
		display: flex;
	}

	@media (max-width: 1150px) {
		position: static;
		top: 0;

		&::before {
			content: none;
		}
	}

	// .dropdown-catalog__wrap
	&__wrap {
		position: relative;
		display: flex;
		width: 100%;
		max-width: $container;
		height: 90%;
		max-height: 800px;
		margin: 50px 30px;
		padding: 50px 100px;
		background-color: $white;
		-webkit-border-radius: 31px;
		-moz-border-radius: 31px;
		border-radius: 31px;

		@media (max-width: 1350px) {
			padding: 30px 50px;
		}

		@media (max-width: 1150px) {
			margin: 0;
			padding: 0;
			border-radius: 0;
			max-height: none;
			position: static;
		}
	}

	// .dropdown-catalog__close
	&__close {
		position: absolute;
		top: 50px;
		right: 50px;
		width: 20px;
		height: 20px;
		background-image: url('../../img/close.svg');
		background-position: center;
		background-size: contain;
		cursor: pointer;

		@media (max-width: 1350px) {
			right: 30px;
			top: 30px;
		}
		@media (max-width: 1150px) {
			display: none;
		}
	}

	// .dropdown-catalog__categories
	&__categories {
		padding-right: 30px;
	}

	// .dropdown-catalog__categories-list
	&__categories-list {
	}

	// .dropdown-catalog__categories-item
	&__categories-item {
		width: 270px;
		height: 40px;
		margin-bottom: 10px;
		padding: 8px 10px 8px 40px;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		-webkit-border-radius: 31px;
		-moz-border-radius: 31px;
		border-radius: 31px;
		cursor: pointer;
		transition: all 0.1s linear;

		&:hover,
		&.active {
			color: $white;
			//font-weight: 700;
			background-color: $main;
		}

		@media (max-width: 1150px) {
			font-size: 18px;
			margin-bottom: 0;
			height: auto;
			padding: 4px 10px 4px 40px;
			//width: auto;
		}
	}

	// .dropdown-catalog__back
	&__back {
		margin-bottom: 15px;
		position: relative;

		&::before {
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			background-image: url('../img/back.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			position: absolute;
			left: -20px;
			top: 1px;
		}

		@media (min-width: 1151px) {
			display: none;
		}
	}
	//.dropdown-catalog__name
	&__name {
		margin-bottom: 15px;
		background-color: rgba($main, 0.5);
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: -30px;
		margin-right: -30px;
		padding-left: 30px;

		@media (min-width: 1151px) {
			display: none;
		}
	}

	// .dropdown-catalog__inner-wrap
	&__inner-wrap {
		@media (max-width: 1150px) {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-200%);
			width: 100%;
			height: 100%;
			padding: 30px;
			background-color: $white;
			transition: all 0.2s linear;
		}

		&.active {
			transform: translateX(0);
		}
	}

	// .dropdown-catalog__inner
	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;
		overflow-y: auto;
		// height: 100%;

		@media (max-width: 991px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 650px) {
			display: block;
		}
	}
}

.dropdown-item {
	// .dropdown-item__title
	&__title {
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 20px;

		a {
			transition: all 0.2s linear;

			&:hover {
				color: $main;
			}
		}

		@media (max-width: 650px) {
			font-weight: 400;
			position: relative;

			&[data-spoller]::after {
				content: '';
				display: block;
				width: 18px;
				height: 10px;
				position: absolute;
				top: 50%;
				right: 30px;
				@include adaptiveValue('right', 30, 1, 400, 320, 1);
				transform: translateY(-50%);
				background-image: url('../img/dropdown.svg');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				transition: all 0.2s linear;
			}

			&._spoller-active::after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	// .dropdown-item__list
	&__list {
		@media (max-width: 650px) {
			padding-left: 20px;
		}
	}

	// .dropdown-item__item
	&__item {
		margin-bottom: 10px;
		@media (max-width: 650px) {
			margin-bottom: 20px;
		}
	}

	// .dropdown-item__link
	&__link {
		transition: all 0.2s linear;

		&:hover {
			color: $main;
		}
	}
}
