@import 'vars';

.dropdown-catalog {
	position: fixed;
	z-index: 99;
	display: none;
	align-items: flex-start;
	justify-content: center;
	background-color: rgba(#484848, 0.65);
	inset: 110px 0 0 0;

	&.active {
		display: flex;
	}

	&__close {
		position: absolute;
		top: 50px;
		right: 50px;
		width: 20px;
		height: 20px;
		background-image: url('../../img/close.svg');
		background-position: center;
		background-size: contain;
		cursor: pointer;
	}

	&__wrap {
		position: relative;
		display: flex;
		width: 100%;
		max-width: $container;
		height: 90%;
		max-height: 800px;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-top: 65px;
		padding-left: 145px;
		background-color: $white;
		-webkit-border-radius: 31px;
		-moz-border-radius: 31px;
		border-radius: 31px;
	}

	&__categories {
		padding-right: 30px;
	}

	&__categories-item {
		width: 270px;
		height: 40px;
		margin-bottom: 10px;
		padding: 8px 10px 8px 40px;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		-webkit-border-radius: 31px;
		-moz-border-radius: 31px;
		border-radius: 31px;
		cursor: pointer;
		transition: all 0.1s linear;

		&:hover,
		&.active {
			color: $white;
			font-weight: 700;
			background-color: $main;
		}
	}
}
