@import 'vars';

.container {
	width: 100%;
	max-width: $container;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.section__title {
	margin: 0;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn__buy {
	width: 200px !important;
	margin: 10px auto 0;
	//margin-top: 10px;
	padding: 10px 35px 10px 40px;
	color: $main;
	border: 1px solid $main;
	transition: all 0.2s linear;

	svg {
		margin-right: 15px;
		stroke: $main;
		height: 26px;
	}

	&:hover {
		color: $white;
		background: linear-gradient(180deg, #ffe896 0%, #fecb4d 100%);
	}

	&:hover svg path {
		stroke: $white;
	}
}

.d-flex {
	display: flex;
}
._aic {
	align-items: center;
}