@import 'vars';

.header__search {
	position: relative;
	max-width: 300px;
}

.search__input {
	max-width: 300px;
	@include adaptiveValue("width", 300, 160, 810, 651);
	@include adaptiveValue("width", 300, 145, 480, 320);
	padding: 10px 20px;
	border: 1px solid $accent;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	flex-shrink: 1;
}

.search__submit {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 15px;
	height: 15px;
	background-color: transparent;
	background-image: url(../../img/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 0;
	transform: translateY(-50%);
	cursor: pointer;
}
