@import 'vars';

.header {
	z-index: 999;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 20px;

		@media (max-width: 650px) {
			display: grid;
			grid-template-columns: 60px 1fr;
			column-gap: 25px;
			row-gap: 15px;
			padding: 15px;
		}
	}

	// .header__menu
	&__menu {
		flex-shrink: 1;

		@media (max-width: 650px) {
			grid-column: 1/2;
			grid-row: 2/3;
			margin-left: 18px;
		}
	}

	// .header__nav
	&__nav {

		@media (max-width: 1150px) {
			position: absolute;
			top: 110px;
			left: 0;
			background-color: rgba(0,0,0, .5);
			width: 100%;
			height: 100%;
			max-height: calc(100% - 110px);
			z-index: 2;
			transform: translateX(-100%);
			transition: all .2s linear;

			.menu-open & {
				transform: translateX(0);
			}
		}
		@media (max-width: 650px) {
			top: 159px;
		}
	}

	// .header__buy
	&__buy {
		display: flex;
		align-items: center;
		flex-shrink: 0;

		@media (max-width: 1150px) {
			flex-grow: 1;
			justify-content: center;
		}

		@media (max-width: 650px) {
			grid-column: 2/3;
			grid-row: 2/3;
			justify-content: flex-end;
		}
	}

	// .header__search
	&__search {
	}

	// .header__cart
	&__cart {
		margin-left: 20px;
		margin-right: 20px;
	}

	// .header__contacts
	&__contacts {
		@media (max-width: 650px) {
			grid-column: 2/3;
			grid-row: 1/2;
		}
	}

	.dropdown-catalog-activate {
	}

	.search {
		// .search__input
		&__input {
		}

		// .search__submit
		&__submit {
		}
	}

	.cart {
		// .cart__quantity
		&__quantity {
		}
	}

	.contacts {
		// .contacts__phone-row
		&__phone-row {
			@media (max-width: 650px) {
				justify-content: flex-end;
			}
		}

		// .contacts__icon
		&__icon {
			// .contacts__icon--wrap
			&--wrap {
			}
		}

		// .contacts__phone
		&__phone {
			white-space: nowrap;

			@media (max-width: 1190px) {
				font-size: 18px;
			}
		}

		// .contacts__description
		&__description {
			white-space: nowrap;

			@media (max-width: 1190px) {
				font-size: 16px;
			}
			@media (max-width: 650px) {
				display: none;
			}
		}
	}

}


.logo {

	@media (max-width: 650px) {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	// .logo__link
	&__link {
	}

	// .logo__img
	&__img {
	}
}

.menu {
	// .menu__icon
	&__icon {
	}
}

.nav {
	// .nav__list
	&__list {
		display: flex;

		@media (max-width: 1150px) {
			position: relative;
			background-color: $white;
			width: 90%;
			margin: 30px auto;
			flex-direction: column;
			padding: 40px 80px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 8px;
			overflow-y: auto;
			height: calc(100% - 60px);
		}

		@media (max-width: 650px) {
			padding: 10px;
			margin: 10px auto;
			height: calc(100% - 70px);

		}

	}

	// .nav__item
	&__item {
		padding-top: 0;
		padding-bottom: 0;
		@include adaptiveValue("padding-left", 15, 7, 1300, 1150, 1);
		@include adaptiveValue("padding-right", 15, 7, 1300, 1150, 1);
		list-style: none;

		&.active a {
			color: $main;
		}

		@media (max-width: 1150px) {
			margin-bottom: 20px;
		}
	}

	// .nav__link
	&__link {
		display: block;
		width: 100%;
		color: #000000;
		font-size: 16px;
		text-decoration: none;
		transition: all 0.2s linear;
		white-space: nowrap;

		&:hover {
			color: $main;
		}

		@media (max-width: 1150px) {
			font-size: 18px;
			font-weight: 500;
		}

	}


}


.icon-menu {
	display: none;
	//margin-left: 45px;
	@include adaptiveValue("margin-left", 45, 30, 1150, 651);
	margin-right: 30px;
	@media (max-width: 1150px) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $main;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}

			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}

			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}