@import 'vars';

.hero {
	background: url('../../img/hero-bg.svg') calc(50% + 400px) -810px no-repeat;

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 0;
	}

	.swiper-pagination-bullet {
		margin: 0 2px !important;
		background-color: $pagination-bullet;
		opacity: 1;
		transition: all 0.2s linear;

		&-active {
			width: 35px;
			margin: 0 2px;
			border-radius: 11px;
		}
	}

	.swiper-wrapper {
		//padding-top: 100px;
	}
}

.hero__inner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 140px;
	@include adaptiveValue('padding-bottom', 140, 80, 1600, 1000, 1);
	padding-top: 100px;
	@include adaptiveValue('padding-top', 100, 50, 880, 768);

	@media (max-width: 768px) {
		justify-content: flex-start;
	}
	@media (max-width: 670px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.hero__title {
	color: $text;
	font-weight: 700;
	font-size: 72px;
	@include adaptiveValue('font-size', 72, 24, 1600, 768, 1);
	//@include adaptiveValue("font-size", 36, 24, 1024, 768, 1);
	line-height: 70px;
	@include adaptiveValue('line-height', 70, 35, 1600, 768, 1);
	//@include adaptiveValue("line-height", 36, 35, 1024, 768, 1);
	margin-bottom: 45px;

	&--colored {
		color: $main;
	}

	@media (max-width: 670px) {
		order: 2;
		margin-bottom: 20px;
	}
}

.hero__link {
	width: 300px;
	height: 76px;
	color: $white;
	background: $orange-gradient;

	&:hover {
		background: $hover-gradient;
	}

	&:active {
		background: $main-active;
	}

	@media (max-width: 938px) {
		width: 252px;
		height: 49px;
	}

	@media (max-width: 670px) {
		order: 3;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.hero__img {
	position: absolute;
	right: 0;
	bottom: 0;
	//width: 50%;
	//height: 100%;
	//@include adaptiveValue("width", 50%, 70%, 1300, 1000, 1);
	z-index: -1;

	@media (max-width: 1300px) {
		height: 390px;
	}

	@media (max-width: 670px) {
		position: relative;
		object-fit: contain;
		order: 1;
		flex-grow: 1;
		height: 300px;
	}
}

.hero-slider {
	position: relative;
	overflow: hidden;
	padding-top: 100px;
	height: 500px;
	z-index: 0 !important;
}

.hero__slider-text {
	position: absolute;
	right: 100px;
	@include adaptiveValue('right', 100, 0, 1300, 830, 1);
	bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 250px;
	padding-right: 30px;
	padding-left: 35px;
	background-color: $secondary;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;

	.name,
	.price {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}

	.size {
		color: $hero-price;
		font-size: 15px;
		line-height: 25px;
	}

	.price {
		margin-top: 10px;
	}

	@media (max-width: 950px) {
		width: 200px;
		height: 200px;
	}

	@media (max-width: 670px) {
		bottom: 160px;
	}
}
