@import 'vars';

.incoming-call {
	position: absolute;
	//top: 450px;
	@include adaptiveValue("top", 450, 310, 1920, 1290, 1);
	left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	text-align: center;
	transform: translateX(-50%);

	//@media (max-width: 1290px) {
	//	display: none;
	//}

	&__desc {
		font-weight: 500;
		//font-size: 24px;
		@include adaptiveValue("font-size", 24, 20, 1920, 1290, 1);
		line-height: 29px;
	}

	&__value {
		font-weight: 600;
		//font-size: 30px;
		@include adaptiveValue("font-size", 30, 20, 1920, 1290, 1);
		line-height: 37px;
	}

	&__text {
		position: relative;
		padding: 25px 15px;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;

		&::after {
			position: absolute;
			top: 40px;
			right: 6px;
			display: block;
			width: 25px;
			height: 23px;
			background-image: url(../../img/callback-triangle.svg);
			background-repeat: no-repeat;
			background-size: contain;
			transform: translate(100%, -50%);
			content: '';
		}

		&-wrap {
			position: absolute;
			background-color: $white;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			transform: translate(-110%, -100%);
			width: 350px;

			@media (max-width: 1490px) {
				transform: translate(-80%, -70%);

				.callback--refund & {
					transform: translate(-80%, -120%);

				}
			}

			@media (max-width: 1290px) {
				width: 250px;
				transform: translate(-65%, -60%);

				.callback--refund & {
					transform: translate(-80%, -60%);
					//width: 350px;
				}
			}
		}
	}
}
