.order {
	background-color: $background;
	padding-bottom: 40px;
	// .order__desc
	&__desc {
		margin-bottom: 20px;
	}
	// .order__title
	&__title {
		margin-bottom: 20px;
	}
	// .order__inner
	&__inner {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 20px;
		@media (max-width: 1300px) {
			display: block;
		}
	}
	// .order__form
	&__form {
		form {
			display: flex;
			flex-direction: column;
			border-radius: 8px;

			label {
				width: 100%;
				margin-bottom: 25px;
				span {
					display: block;
					margin-bottom: 10px;
					font-weight: 500;
					font-size: 20px;
					line-height: 24px;

					@media (max-width: 500px) {
						font-size: 16px;
					}
				}
			}
		}
		.order-addres {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 25px;
			span {
				width: 100%;
			}
			.input {
				width: 30%;
				&:first-of-type {
					width: 65%;
					margin-bottom: 20px;
				}

				@media (max-width: 400px) {
					width: 100%;
					margin-bottom: 10px;
					&:first-of-type {
						width: 100%;
						margin-bottom: 10px;
					}
				}
			}
		}
		.order-payment-label {
			margin-bottom: 0;
		}

		@media (max-width: 1300px) {
			margin: 0 auto;
		}
	}
	// .order__image
	&__image {
		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		@media (max-width: 1300px) {
			display: none;
		}
	}
}
.form-order {
	padding: 45px;
	background-color: $white;
	align-self: start;
	max-width: 560px;

	@media (max-width: 500px) {
		padding: 20px;
	}

	// .form-order__total
	&__total {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 12px;
		span {
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			margin-left: 20px;
		}
	}
	// .form-order__sale
	&__sale {
		color: $accent;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 20px;
	}
	.input {
		width: 100%;
		outline: none;
		border: 1px solid $secondary;
		border-radius: 40px;
		height: 50px;
		padding: 10px;
		text-align: center;

		@media (max-width: 500px) {
			font-size: 16px;
		}
	}

	// .form-order__policy
	&__policy {
		span {
			font-weight: 500;
			font-size: 15px !important;
			// line-height: 18px;
			// white-space: nowrap;
		}
		.form__policy-link {
			line-height: 15px;
		}
	}
	.btn {
		margin: 0 auto;
	}
}
.checkbox-wrap {
}
.checkbox {
}
.checkbox-text {
}
.order-select {
	margin-bottom: 20px;
}
.form {
	// .form__policy
	&__policy {
	}
	// .form__policy-link
	&__policy-link {
	}
}

.order-promocode__desc {
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 40px;
}
