.product-page {
	background-color: $background;
	// .product-page__container
	&__container {
	}

	// .product-page__inner
	&__inner {
		width: 100%;
		padding-bottom: 60px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 40px;
		grid-template-areas:
			'hero info'
			'tabs tabs'
			'parts parts'
			'accessories accessories';
		//display: flex;
		//flex-wrap: wrap;

		@media (max-width: 1350px) {
			grid-template-columns: 1fr;
		}
		@media (max-width: 850px) {
			display: block;
		}
	}

	.top-row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: rem(20);
		margin-bottom: 40px;
		margin-top: 30px;
		@media (max-width: 1350px) {
			display: block;
		}
		@media (max-width: 650px) {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	.breadcrumbs {
		width: 100%;
		// .breadcrumbs__item
		&__item {
		}
	}

	.section__title {
		@media (max-width: 650px) {
			font-size: 28px;
			line-height: 28px;
		}
	}
}

.product {
	// .product__hero
	&__hero {
	}

	// .product__info
	&__info {
		grid-area: info;
	}

	// .product__tabs
	&__tabs {
		grid-area: tabs;
	}

	// .product__parts
	&__parts {
		grid-area: parts;
	}

	// .product__accessories
	&__accessories {
		grid-area: accessories;
	}
}

.product-hero {
	height: 450px;
	width: 100%;
	display: flex;
	overflow: hidden;
	grid-area: hero;

	@media (max-width: 1200px) {
		flex-direction: column-reverse;
	}

	@media (max-width: 850px) {
		margin-bottom: 20px;
	}

	@media (max-width: 650px) {
		height: auto;
	}
}

.product-hero-track {
	//width: 100%;
	// .product-hero-track__slider
	width: 100%;
	max-width: 125px;
	margin-right: 20px;
	overflow: hidden;

	@media (max-width: 1200px) {
		max-width: none;
		margin-top: 20px;
	}

	&__slider.swiper {
		overflow: hidden;
		height: 100%;
	}

	// .product-hero-track__wrapper
	&__wrapper {
		width: 100%;
	}

	// .product-hero-track__slide
	&__slide {
		width: 125px;
		border-radius: 8px;
		overflow: hidden;
		background-color: $white;
		padding: 10px;
		cursor: pointer;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.product-hero-main {
	overflow: hidden;
	height: 100%;

	// .product-hero-main__slider
	&__slider {
		height: 100%;
	}

	// .product-hero-main__wrapper
	&__wrapper {
	}

	// .product-hero-main__slide
	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		border-radius: 8px;
		padding: 20px;
		cursor: pointer;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.product-info {
	padding: 55px;
	background-color: $white;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: rem(30);
	row-gap: rem(20);
	grid-template-areas:
		'product-price product-info'
		'product-size product-colors'
		'product-quantity product-colors'
		'product-buy product-order';

	@media (min-width: 850px) and (max-width: 1350px) {
		grid-template-columns: 1fr;
		grid-template-areas:
			'product-price'
			'product-info'
			'product-size'
			'product-quantity'
			'product-colors'
			'product-buy'
			'product-order';
	}

	@media (max-width: 650px) {
		grid-template-columns: 1fr;
		grid-template-areas:
			'product-price'
			'product-info'
			'product-size'
			'product-quantity'
			'product-colors'
			'product-buy'
			'product-order';
	}

	@media (max-width: 1200px) {
		padding: 20px;
	}

	@media (max-width: 850px) {
		margin-bottom: 30px;
	}

	// .product-info__status
	&__status {
		margin-bottom: 4px;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;

		&.available {
			color: $status-available;
		}
		@media (max-width: 650px) {
			font-size: 20px;
			line-height: 24px;
		}
	}

	// .product-info__price-wrap
	&__price-wrap {
		grid-area: product-price;
	}

	// .product-info__price
	&__price {
		display: flex;
		align-items: center;
	}

	// .product-info__actual-price
	&__actual-price {
		//display: flex;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		margin-right: 20px;
		display: flex;
		align-items: center;

		svg {
			width: 36px;
			height: 36px;
		}
		@media (max-width: 650px) {
			font-size: 28px;
			line-height: 30px;

			svg {
				height: 28px;
				width: 28px;
			}
		}
	}

	// .product-info__old-price
	&__old-price {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: $old-price;
		display: flex;
		align-items: center;

		svg {
			width: 18px;
			height: 18px;
			fill: $old-price;
		}
	}

	// .product-info__size
	&__size {
		grid-area: product-size;
	}

	// .product-info__size-title
	&__size-title {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 17px;
		white-space: nowrap;
	}

	// .product-info__quantity
	&__quantity {
		grid-area: product-quantity;
	}

	// .product-info__quantity-title
	&__quantity-title {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 15px;
	}

	// .product-info__info
	&__info {
		grid-area: product-info;
	}

	@media (min-width: 1351px) {
		grid-row: 1 / 3;
	}

	// .product-info__collection
	&__collection {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 10px;

		span {
			font-weight: 500;
		}
	}

	// .product-info__code
	&__code {
		font-size: 15px;
		line-height: 18px;
		color: $good-article;
	}

	// .product-info__colors
	&__colors {
		grid-area: product-colors;
	}

	// .product-info__colors-title
	&__colors-title {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 20px;
	}

	// .product-info__colors-inner
	&__colors-inner {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	// .product-info__colors-wrap
	&__colors-wrap {
		position: relative;
		display: flex;
		margin-bottom: 10px;
	}

	// .product-info__colors-name
	&__colors-name {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	// .product-info__colors-item
	&__colors-item {
		width: 47px;
		height: 47px;
		margin-right: 10px;
		overflow: hidden;
		margin-bottom: 20px;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
			display: block;
		}

		&.active {
			border: 5px solid $secondary;
		}
	}

	// .product-info__buy
	&__buy {
		grid-area: product-buy;

		.btn {
			width: 100%;
		}
	}

	// .product-info__order
	&__order {
		grid-area: product-order;
	}
}

.quantity {
	// .quantity__button
	&__button {
	}

	// .quantity__button_plus
	&__button_plus {
	}

	// .quantity__input
	&__input {
	}

	// .quantity__button_minus
	&__button_minus {
	}
}

.product-tabs {
	@media (max-width: 1200px) {
		display: flex;
		border-radius: 8px;
		overflow: hidden;
	}

	@media (max-width: 850px) {
		margin-bottom: 30px;
		flex-direction: column;
	}

	// .product-tabs__navigation
	&__navigation {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 20px;

		@media (max-width: 1200px) {
			display: flex;
			flex-direction: column;
		}
	}

	// .product-tabs__title
	&__title {
		//width: 25%;
		padding: 18px 0;
		background-color: $tab-bg;
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
		border-radius: 8px 8px 0 0;

		@media (max-width: 1200px) {
			padding-left: 10px;
			padding-right: 20px;
			border-radius: 0;
		}

		@media (max-width: 850px) {
			font-size: 20px;
			padding: 10px;
		}
	}

	// .product-tabs__content
	&__content {
		background-color: $white;
		padding: 80px 140px;
		font-size: 20px;
		line-height: 28px;

		@media (max-width: 1200px) {
			padding: 20px;
			flex-grow: 1;
		}

		@media (max-width: 850px) {
			font-size: 16px;
		}
	}

	// .product-tabs__body
	&__body {
		.documents__item {
			display: flex;
			align-items: center;
			margin-bottom: 12px;
			&:hover {
				text-decoration: underline;
			}
		}

		.documents__title {
			@media (max-width: 850px) {
				font-size: 16px;
			}
		}

		.download__icon {
			width: 30px;
			height: 30px;
			margin-right: 10px;

			@media (max-width: 850px) {
				margin-right: 5px;
			}
		}
	}
	._tab-active {
		background-color: $white;
	}
}

.product-parts {
	// .product-parts__slider
	&__slider {
	}

	// .product-parts__wrapper
	&__wrapper {
	}

	// .product-parts__slide
	&__slide {
	}
}

.accessories, .product-parts {
	position: relative;
	padding-bottom: 40px;
	@media (max-width: 1919px) and (min-width: 1104px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	&__title {
		margin: 0 0 50px 0;
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;
		@media (max-width: 650px) {
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 20px;
		}
	}

	// .accessories__slider
	&__slider {
		//padding: 10px 30px 40px;
	}

	// .accessories__wrapper
	&__wrapper {
	}

	// .accessories__slide
	&__slide {
	}

	// .accessories__slider-prev
	&__slider-prev,
	&__slider-next {
		position: absolute;
		top: 35%;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		background-color: $main;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		cursor: pointer;

		&.swiper-button-disabled {
			cursor: no-drop;
			opacity: 0.5;
		}

		@media (max-width: 1103px) {
			display: none;
		}
	}

	// .accessories__slider-prev
	&__slider-prev {
		left: -40px;

		&::after {
			background: url('../../img/prev-slide.svg') center no-repeat;
		}
		@media (max-width: 1919px) {
			left: -10px;
		}
	}

	&__slider-next {
		right: -40px;

		&::after {
			background: url('../../img/next-slide.svg') center no-repeat;
		}
		@media (max-width: 1919px) {
			right: -10px;
		}
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 0;
	}

	.swiper-pagination-bullet {
		margin: 0 2px !important;
		background-color: $pagination-bullet;
		opacity: 1;
		transition: all 0.2s linear;

		&-active {
			width: 35px;
			margin: 0 2px;
			border-radius: 11px;
		}
	}
}
