@@include('../blocks/_header.html')

<section class="assembly">
	<div class="container">
		<div class="breadcrumbs">
			<a href="/" class="breadcrumbs__item">Главная</a>
			<a href="#" class="breadcrumbs__item">Сборка мебели</a>
		</div>
		<div class="assembly__inner">
			<div class="assembly__text">
				<h1 class="assembly__title section__title">Сборка мебели</h1>
				<div class="assembly__text">
					<p>
						10% от стоимости мебели
						<strong>(но не менее 1000 руб.)</strong>
					</p>

					<p>Сборка мебели осуществляется в день доставки Возможна сборка в другой день по согласованию.</p>

					<p>Мы ответственно подходим к каждому заказу и выполняем работы аккуратно, качественно и быстро.</p>
					<p>
						По окончании всех работ проводим уборку и расставляем мебель. Вы принимаете заказ уже в чистом помещении.
					</p>
				</div>
			</div>
			<img class="assembly__img" src="../img/assembly-man.png" />
		</div>
	</div>
</section>

@@include('../blocks/_callback.html') @@include('../blocks/_footer.html')
