<div class='dropdown-catalog'>
	<div class='dropdown-catalog__wrap'>
		<div class='dropdown-catalog__categories'>
			<div class='dropdown-catalog__categories-list'>
				<div class='dropdown-catalog__categories-item'>Кровати</div>
				<div class='dropdown-catalog__categories-item'>Матрасы</div>
				<div class='dropdown-catalog__categories-item'>Шкафы</div>
				<div class='dropdown-catalog__categories-item'>Диваны</div>
				<div class='dropdown-catalog__categories-item'>Детская мебель</div>
			</div>
		</div>
		<div class='dropdown-catalog__inner'>
			<div class='dropdown-catalog__inner-tab'>Готовые решения
				Комплекты детской мебели
				Модульные детские
				Мини-детские
				Для двоих детей</div>
			<div class='dropdown-catalog__inner-tab'></div>
			<div class='dropdown-catalog__inner-tab'></div>
			<div class='dropdown-catalog__inner-tab'></div>
			<div class='dropdown-catalog__inner-tab'></div>
		</div>
	</div>
</div>