@import 'vars';

.checkbox-wrap .checkbox {
	display: none;
}

.checkbox-wrap .checkbox-text {
	position: relative;
	display: inline-block;
	padding-left: 28px;
	cursor: pointer;
}

.checkbox-wrap .checkbox-text::before {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 23px;
	height: 23px;
	background-color: #fff;
	border: 2px solid $main;
	border-radius: 8px;
	transform: translateY(-50%);
	content: '';
}

.checkbox-wrap .checkbox:checked ~ .checkbox-text::before {
	background-color: $main;
	background-image: url(../img/checked-white.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}
