@import 'vars';

.footer {
	padding-top: 50px;
	padding-bottom: 20px;
	color: $white;
	background-color: $footer-bg;

	a {
		color: $white;
		text-decoration: none;
		transition: all 0.2s linear;

		&:hover {
			text-decoration: underline;
		}
	}
}

.footer__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-logo {
	display: flex;
	justify-content: center;
	width: 100%;
}

.footer-catalog {
	width: 300px;
	margin-right: 150px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
	}

	&__title {
		margin-bottom: 25px;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
	}

	&__item {
		width: 50%;
		margin-bottom: 35px;
		font-size: 18px;
		line-height: 22px;
	}
}

.footer-menu {
	margin-right: auto;

	&__list {
		margin-top: 50px;
		list-style: none;
	}

	&__item {
		margin-bottom: 35px;
		font-weight: 600;
		font-size: 20px;
		line-height: 22px;
	}
}

.footer-contacts {
	margin-right: 100px;
}

.footer-contacts__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.footer-contacts__btn {

	a {
		padding: 16px 28px;
		color: $white;
		font-weight: bold;
		font-size: 15px;
		line-height: 18px;
		background-color: $accent;
		border: 0;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		cursor: pointer;
	}
}

.footer-contacts__row {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	a {
		display: block;
		margin-left: 10px;
		color: $white;
		font-weight: 600;
		font-size: 20px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.footer-social {

	&__title {
		margin-bottom: 25px;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 53px;
		height: 53px;
		background-color: $accent;
		border-radius: 5px;
		cursor: pointer;

		svg {
			width: 30px;
			height: 30px;
		}

		&:first-child {
			margin-right: 25px;
		}
	}
}

.footer-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footer-info__item {
	width: 33%;

	&:nth-child(2) {
		text-align: center;
	}

	&:nth-child(3) {
		text-align: right;
	}
}
