@import 'vars';

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 20px;
}

.nav__list {
	display: flex;
}

.nav__item {
	padding: 0 20px;
	list-style: none;
}

.nav__link {
	display: block;
	width: 100%;
	color: #000000;
	font-size: 16px;
	text-decoration: none;

	&:hover {
		color: $main;
	}
}
