@import 'vars';

.contacts__phone-row {
	display: flex;
	align-items: center;
}

.contacts__phone {
	display: block;
	margin-left: 10px;
	color: $text;
	font-weight: 600;
	font-size: 20px;
	text-decoration: none;
}

.contacts__description {
	margin-top: 10px;
	color: $text;
	font-weight: 500;
	font-size: 18px;
}

.contacts__icon--wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: $main;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	img {
		width: 19px;
		height: 19px;
	}
}
