@import 'vars';

.hero__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__title {
	color: $text;
	font-weight: 700;
	font-size: 72px;
	line-height: 70px;

	&--colored {
		color: $main;
	}
}
