@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-weight: #{$weight};
		font-family: $font_name;
		font-display: swap;
		font-style: #{$style};
		src: url('../fonts/#{$file_name}.woff') format('woff'), url('../fonts/#{$file_name}.woff2') format('woff2');
	}
}

@import 'swiper';

@import 'fonts';
@import 'reset';
@import 'main';
@import 'header';
@import 'burger';
@import 'header-search';
@import 'header-cart';
@import 'header-contacts';
@import 'category';
@import 'popular';
@import 'premium';
