$main: #fecb4d;
$accent: #ff7a00;
$text: #000000;
$text-gray: #8a8a8a;
$old-price: #c4c4c4;
$good-article: #696969;
$item-name: #595959;
$header-cart: #200e32;
$pagination-bullet: #dadada;

$orange-gradient: linear-gradient(180deg, #ffe483 0%, #fecb4d 100%);
$hover-shadow: 1px 3px 11px rgba(70, 70, 70, 0.14);

$background: #f6f6f6;
$white: #ffffff;

$container: 1500px;
